body {
    text-align: center;
}

p{
    color:black;
  
}
.about{
    
    background: rgb(108, 164, 216);
    color:black;
    padding: 8px;
}
img{
    
    height: 200px;
    width: 200px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.b{
    background-color:rgb(108,164,216);
}

.card{
    background-color:rgb(108,164,216);
    box-shadow: 0px 4px 8px 0 gray;
    border-radius: 10px;
    margin: 10px;
    width: 20%;
    max-width: 280px;
    height: auto;
    padding: 10px;
   
}
.button{
    background-color:white;
    border:white;
    font-weight: bolder;
    padding: 10px 10px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 6px;
}

.row{
    text-align: center;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}