body {
    text-align: center;
}

p{
    color:black;
  
}
.about{
    
    background: maroon;
    color:white;
    padding: 8px;
}
img{
    
    height: 100px;
    width: 100px;
    align-content: center;
}
.b{
    background-color:rgb(200,134,145);
    
}
.row{
    background-color:rgb(200,134,145);
}
.column{
    float: left;
    margin-right: 16px;
     margin: 10px;
     width:23%;
}
.card{
    background-color:white;
    box-shadow: 0px 4px 8px 0 gray;
    padding: 0 16px 0 16px;
}
.button{
    background-color:white;
    border:white;
    font-weight: bolder;
    padding: 10px 10px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 6px;
}