h1 {
    text-align: center; 
    background-color: rgb(108,164,216);
    padding: 10px;
}

h3{
   color: black;
}

p{
     color: darkslategray;
}

img{
    max-width: 200px;
    max-height: 100px;
    margin-top: 10px;
}

.gallery-container{
    
   text-align: center;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

.card {
    background-color: rgb(108,164,216);
  border-radius: 10px;
  margin: 10px;
  width: 20%;
  max-width: 280px;
  height: auto;
  padding: 5px;
}
.gallery-container a{
    background-color: rgb(108,164,216);
    background-position: center;
    background-size: cover;
}

.gallery-container a:hover{
    opacity:80%;
    text-decoration-color: gray;
}