.bg-cover{
    background: gray;
    height: 100vh; 
    background-position: center;
    background-size: cover; 
}

.center-me{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.form-signin{
    padding: 30px;
    text-align: center;
}

input{
    margin-bottom: 10px;
}

